:root {
  --bg-color: linear-gradient(
    339deg,
    rgb(22, 0, 119) 0%,
    rgb(0, 0, 57) 15%,
    rgb(0, 3, 27) 51%,
    rgb(0, 14, 22) 86%,
    rgb(0, 14, 28) 100%
  );
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
